<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="">
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Renewable Energy Plots</title>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <p>
            Available Routes:<br/>
            /plots<br/>
            /map <br>
            /api/v1.0/renewable_energy

        </p>

        <div id="plot"></div>


        <!-- <script src='https://cdn.plot.ly/plotly-2.0.0.min.js'></script> -->
        <!-- <script src="data/data.json"></script> -->
        <script src="static/js/plot.js"></script>
    </body>

</html>